body{
    background-color: #1834d39c;
    background-size: cover;
    
    /*background-size: no-repeat;*/
    
    margin : 0;
    padding:0;
    font-family:Arial;

}

.login{
    margin:auto;
    width:400px;
    /* color: rgb(218, 199, 199); */
    background-color : rgb(88, 109, 108);
    border-radius:20px;
    box-shadow: 5px 8px 16px 0px rgba(0,0,0,0.9);
    padding: 80px 40px;
    margin-top:80px;
   /* background:linear-gradient(top, #3c3c3c 0%, #222222 100%);*/
  /*  background:-webkit-linear-gradient (top, #3c3c3c 0%, #222222 100%); */
}

h1{
    margin: 0 0 30px 0;
    padding: 10px;
    color: #efed40;
    text-align: center;
}

p{
    margin: 0 0 30px 0;
    padding: 10px;
    color: #efed40;
    text-align: center;
}



input{
    width:100%;
    margin-bottom:30px;
}

input[type = text], input[type=password]{
    border:none;
    outline:none;
    border:2px #fff dotted;
    /* background:  transparent; */
    /* border-radius:20px; */
    box-sizing:border-box;
    color:rgba(25, 10, 82, 0.582);
    font: size 16px;
    padding:10px;
    text-align:center;
}

input:focus{
    border-style:solid;
    border-color: #cf2332;
	box-shadow: 0 0 15px #cf2332;
}

::placeholder{
    color: rgba(25, 10, 82, 0.582);
    text-align:center;

}
input[type = submit]{
    margin-top: 18px;
    border:none;
    outline:none;
    padding:10px;
    color: #fff;
    font-size: 16px;
    font-family: Arial;
    background: #ff267e;
    cursor:pointer;
    border-radius:20px;
    
}

input[type=submit]:hover{
    background: #efed40;
    color:#262626;
}
label{
    color: #fff;
}

